.content-title {
    font-size: 25px;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 60px; /* Push the title below the navbar */
}





.filters {
    display: flex;
    
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    padding: 0 10px;
}

.search-bar {
    
    padding: 10px;
    border-radius: 5px;
    border: none;
   
    border: 1px solid;
}

.filter-buttons button {
    padding: 10px 15px;
    border: none;
    gap: 20px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.7);
}

.filter-buttons button:hover {
    background-color: #777;
}


.grid-container {
    max-width: 800px;
    margin: 0 auto ;
    padding: 20px;
    width: 100%;
    
}

.tier-section {
    display: grid;

    /* ini buat yang pc bagus kalo pake columns */
    /* grid-template-columns: 150px 1fr; Fixed width for the label, flexible width for the grid */
    gap: 20px;
    margin-bottom: 20px;
}

.tier-label {
    font-size: 18px;
    font-weight: bold;
    background-color: #ff5555;
    color: #191817;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1; /* Automatically spans the height of the row */
}

.t1{
    background-color: #ffa967;
}

.t0-5{
    background-color: #ec6563;
}

.t1-5{
    
        background-color: #ffbe7c;
    
}

.t2{
    background-color: #fed4a0;
}

.t3{
    background-color: #bfff7f;
}

.t4{
    background-color: #9df89d;
}

.t5{
    background-color: #76f8f8;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    gap: 20px;
    
}

.card {
    background-color: #2a2a3c;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}
